* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  border-radius: 28px;
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #83869a;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: linear-gradient(#fff, #F0F1FF);
  color: #13183f;
  min-width: 375px;
}

.container {
  margin: 0 16px;
}

.navbar {
  margin-top: 16px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .btn {
  width: 140px;
  height: 100%;
  background: #13183f;
  color: #fff;
}

/* Hero */
.hero .hero-left {
  margin-top: 54px;
  margin-bottom: 46px;
}

.hero .hero-left h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 51px;
}

.hero .hero-left p {
  margin-top: 26px;
  margin-bottom: 24px;
}

.hero .hero-left .btn {
  height: 56px;
  width: 166px;
  background: linear-gradient(#f02aa6, #ff6f48);
}

.hero .hero-right {
  margin-bottom: 66px;
}

.hero .hero-right img {
  height: 300px;
  display: block;
  margin: auto;
}

/* Card Section */
.card-section .text-card {
  height: 120px;
  background: linear-gradient(#f02aa6, #ff6f48);
  border-radius: 10px;
  padding: 24px 14px 0;
}

.card-section .text-card h2 {
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  font-weight: 800;
}

.card-section .card {
  margin: 20px 0;
  padding: 56px 14px 32px;
  background: #fff;
  border-radius: 10px;
}

.card-section .card img {
  height: 56px;
  color: #fff;
  position: relative;
  top: -20px;
}

.card-section .card h3 {
  font-size: 20px;
  font-weight: 800;
  margin-top: 24px;
  margin-bottom: 16px;
}

.card-section .card a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #f74780;
  margin-top: 24px;
  display: block;
}

/* Footer Section */
footer .footer-nav {
  background: #13183F;
}

footer .footer-nav .logo {
  color: #fff;
}